In [35]:
import pandas as pd
import numpy as np

In [36]:
df=pd.read_csv('D:/ml/red-winequality.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [37]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [39]:
df.duplicated().sum()

240

In [40]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [41]:
df=df.drop_duplicates()
len(df)

1359

In [42]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [43]:
a=[]
for i in df['quality']:
    if i<7:
        a.append(0)
    else:
        a.append(1)

In [44]:
df['new_quality']=a
df['new_quality'].unique()

array([0, 1], dtype=int64)

In [45]:
df=df.drop('quality',axis=1)

In [46]:
x=df.drop('new_quality',axis=1)
y=df['new_quality']
x.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4

In [47]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(x,y)

In [48]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

In [49]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [50]:
y_pred=dt.predict(x_test)

In [51]:
from sklearn.metrics import accuracy_score,confusion_matrix
round(accuracy_score(y_test,y_pred),3)*100

85.9

In [52]:
from sklearn.feature_selection import SelectKBest as sb
from sklearn.feature_selection import f_classif,chi2

In [53]:
len(df.columns)

12

In [54]:
score=sb(f_classif,k=5)
x_new=score.fit_transform(x,y)

In [55]:
#score.scores_
print('feature importance: ', score.scores_)

feature importance:  [ 18.547729   104.45451986  58.66086525   3.79519069  12.83733526
   7.22434316  25.52512739  34.76711839   3.9879021   57.4592668
 274.08640276]

In [56]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'new_quality'],
      dtype='object')

In [58]:
#x1=df[['fixed acidity', 'volatile acidity', 'citric acid','chlorides', 'total sulfur dioxide', 'density',
#'pH', 'alcohol']]
x1=df[['volatile acidity', 'citric acid',
      'total sulfur dioxide', 
      'sulphates', 'alcohol']]
#x1=df[['fixed acidity','residual sugar',
#       'free sulfur dioxide', 'total sulfur dioxide', 
#       'sulphates', 'alcohol']]
y1=df['new_quality']

In [59]:
x1_train,x1_test,y1_train,y1_test=tts(x1,y1)

In [60]:
x1_train=ss.fit_transform(x1_train)
x1_test=ss.transform(x1_test)

In [61]:
dt.fit(x1_train,y1_train)

DecisionTreeClassifier()

In [62]:
y1_pred=dt.predict(x1_test)

In [63]:
round(accuracy_score(y1_test,y1_pred),3)*100

84.1

In [64]:
from sklearn.ensemble  import RandomForestClassifier
rf=RandomForestClassifier()
model=rf.fit(x1_train,y1_train)

In [65]:
yp=rf.predict(x1_test)

In [66]:
from sklearn.model_selection import GridSearchCV, KFold, cross_val_score
n_scores = cross_val_score(rf, x1_train, y1_train,
                           cv=KFold(n_splits=5, shuffle=True, random_state=1)).mean()
n_scores

0.8793103448275861